/*
Testing Hover
*/

.center-row {
    float:none;
    margin:0 auto;
    width:80%;
}
.hover-hide {
    display: none;
    height:200px !important;
    width:200px !important;
    overflow:hidden;
    margin:0px !important;
    padding:2px;
    text-align:center;
}

.hover-hide .h3 {
    margin:3px !important;
}
.hover-hide .p {
    margin:2px;
}

.stat {
    margin-top:80%;
    margin-bottom:5px;
    margin-right:5px;
    float:right;	  
    text-shadow: 0px 0px 4px #000000;
}

.dance {
    background-image: url("../images/dance.jpg");
    color:white;
    background-size:cover;
}

.dance:hover .hover-hide{
    display:block;
    color:black;
    background-color:#ED9121; /*carrot*/
}

.dance:hover .hover-show{
    display:none;
}

.stat-dance {
    color:#ED9121; /*carrot*/
}

.energy {
    background-image: url("../images/energy.jpg");
    color:white;
    background-size:cover;
}

.energy:hover .hover-hide{
    display:block;
    color:black;
    background-color:#EEC900; /*gold2*/
}

.energy:hover .hover-show{
    display:none;
}

.stat-energy {
    color:#EEC900; /*gold2*/
}

.acoustic{
    background-image: url("../images/acoustic.jpg");
    color:white;
    background-size:cover;
}

.acoustic:hover .hover-hide{
    display:block;
    color:black;
    background-color:#BCEE68; /*dark olive green*/
}

.acoustic:hover .hover-show{
    display:none;
}

.stat-acoustic {
    color:#BCEE68; /*dark olive green*/
}


.live{
    background-image: url("../images/live.jpg");
    color:white;
    background-size:cover;
}

.live:hover .hover-hide{
    display:block;
    color:black;
    background-color:#00CDCD; /*cyan*/
}

.live:hover .hover-show{
    display:none;
}

.stat-live {
    color:#00CDCD; /*cyan*/
}


.loud{
    background-image: url("../images/loud.jpg");
    color:white;
    background-size:cover;
}

.loud:hover .hover-hide{
    display:block;
    color:black;
    background-color:#CD3278; /*violet red*/
}

.loud:hover .hover-show{
    display:none;
}

.stat-loud {
    color:#CD3278; /*violet red*/
}


.speech{
    background-image: url("../images/speech.jpg");
    color:white;
    background-size:cover;
}

.speech:hover .hover-hide{
    display:block;
    color:black;
    background-color:#4876FF; /*royal blue*/
}

.speech:hover .hover-show{
    display:none;
}

.stat-speech {
    color:#4876FF; /*royal blue*/
}


.duration{
    background-image: url("../images/duration.jpg");
    color:white;
    background-size:cover;
}

.duration:hover .hover-hide{
    display:block;
    color:black;
    background-color:#B22222; /*firebrick*/
}

.duration:hover .hover-show{
    display:none;
}

.stat-duration {
    color:#B22222; /*firebrick*/
}


.valence{
    background-image: url("../images/valence.jpg");
    color:white;
    background-size:cover;
}

.valence:hover .hover-hide{
    display:block;
    color:black;
    background-color:#388E8E; /*teal*/
}

.valence:hover .hover-show{
    display:none;
}

.stat-valence {
    color:#388E8E; /*teal*/
}


.cubehover {
    height:200px !important;
    width:200px !important;
    overflow: hidden;
    margin:5px;
    padding:0 !important;
}




