@import url("bootstrap.min.css");
@import url("stat.css");
/*
body{
    background-color: #bbcc99;
}
*/


.jumbotron{
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    padding-bottom: 30px !important;
    margin:5%;
    margin-bottom:0px;
    margin-top:1% !important;
}

/*see more button*/
.see-more{
    width:100%;
    background-color:#337ab7;
    color:white;
    margin-bottom:10px;
}

.nav{}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
    margin-bottom:1%;
    margin-top:1%;
}

.page-header{
    color:white;
    text-shadow:0 0 1px transparent;
    text-shadow:0 0 0 #f00, 0 0 1px transparent;
}


.search-bar{
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

/* thumbnail */
.thumb-img {
    height: 250px !important;
    width:  250px !important;
}

.thumb-small{
    float:left;
    margin:20px !important;
}
.caption-small{
    margin-bottom:20px;
}